<h2>Gerenciamento de Estoque - Nexus Control</h2>

<table border="1">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Estoque Atual</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>R$ {{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
            <td>
                {% if produto.estoque <= 5 %}
                    <span style="color: red;">Repor Urgente</span>
                {% else %}
                    <span style="color: green;">Normal</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'excluir_produto' produto.id %}" 
                onclick="return confirm('Tem certeza que deseja excluir o produto {{ produto.nome }}?')" 
                style="color: red; text-decoration: none; font-weight: bold;">
                [Excluir]
                <a href="{% url 'editar_produto' produto.id %}" style="color: blue; margin-right: 10px;">[Editar]</a>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <a href="{% url 'adicionar_produto' %}">
        <button type="button">+ Cadastrar Novo Produto</button>
    </a>
</table>