{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 card shadow p-4">
        <h3 class="mb-4">Novo Produto</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" name="nome" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Preço</label>
                <input type="number" name="preco" class="form-control" min="0.00" step="0.01" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Estoque atual</label>
                <input type="number" name="estoque" class="form-control" min="0" step="1" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}