<h2>Cadastrar Novo Produto - Nexus</h2>

<form method="POST">
    {% csrf_token %} <div>
        <label>Nome do Produto:</label>
        <input type="text" name="nome" required>
    </div>

    <div>
        <label>Preço:</label>
        <input type="number" step="0.01" name="preco" required>
    </div>

    <div>
        <label>Quantidade em Estoque:</label>
        <input type="number" name="estoque" required>
    </div>

    <div>
        <label>Alerta de Estoque Mínimo:</label>
        <input type="number" name="estoque_minimo" value="5">
    </div>

    <button type="submit">Salvar Produto</button>
    <a href="{% url 'lista_estoque' %}">Cancelar</a>
</form>